<section class="container-fluid p-4">

    <h3>{{currentUser.name}}'s Statement</h3>

    <div class="alert alert-info p-4" *ngIf="!txns && !errMsg">
        <strong>Please wait while loading data!</strong>
    </div>

    <div class="alert alert-danger p-4" *ngIf="errMsg">
        <strong>{{errMsg}}</strong>
    </div>

    <div class="container-fluid m-4">
        <div class="row border-bottom p-2">
            <div class="col-2 text-center"><strong>Txn#</strong></div>
            <div class="col text-center"><strong>Header</strong></div>
            <div class="col-2 text-center"><strong>Credit</strong></div>
            <div class="col-2 text-center"><strong>Debit</strong></div>
            <div class="col-2 text-center"><strong>Action</strong></div>
        </div>

        <app-txn-form-row [isNew]="true" (formSubmited)="addTxn($event)">
        </app-txn-form-row>
        <ng-container *ngIf="txns && txns.length>0">
            <ng-container *ngFor="let t of txns">
                <app-transaction-row *ngIf="!t.isEditable" [txn]="t" (deleteBtnClick)="deleteTxn($event)"
                    (editBtnClick)="editTxn($event)">
                </app-transaction-row>
                <app-txn-form-row *ngIf="t.isEditable" [isNew]="false" [txn]="t" (formSubmited)="updateTxn($event)"
                    (cancelEdit)="cancelEditTxn($event)">
                </app-txn-form-row>
            </ng-container>
        </ng-container>
        <app-txn-summary-section *ngIf="txnSmry" [txnSmry]="txnSmry"></app-txn-summary-section>
    </div>
</section>