img{
    width:350px;
    margin:10px;
}

.bordered{
    border:2px solid black;
}

.centered{
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.roundCornered{
    border-radius: 50px;
}

