<h1>{{title}}</h1>

<img [src]="imgs[imgIndex]" (click)="toggleLogo()"
 [style.width.px]="imgWidth"
 [class]="{'centered':applyCenter,'bordered':applyBorder,'roundCornered':applyRoundCorner}" />

 <form>
    <input type="text" name="tb1" [(ngModel)]="title" /> <br />
    <input type="range" name="r1" [(ngModel)]="imgWidth" min="100" max="1000" />
    <br /> <label><input type="checkbox" name="c1" [(ngModel)]="applyCenter" /> Center </label>
    <br /> <label><input type="checkbox" name="c2" [(ngModel)]="applyBorder" /> Border </label>
    <br /> <label><input type="checkbox" name="c3" [(ngModel)]="applyRoundCorner" /> Round Corner </label>
 </form>